.create_project {
    margin: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 1rem;
    h1 {
        font: {
            size: 25px;
            family: $font-title;
            weight: 700;
        }
        letter-spacing: 1px;
    }
}

.input_task {
    width: 40vh;
}

.input_description {
    width: 40vh;
}

.input_date {
    
}