// color
$bg-list-color: rgba(38, 38, 38, 1);
$txt-color: #fff;
$todo-color: #ffa54d;
$doing-color:#fffe4d;
$done-color:#8fce00;

// font 
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&display=swap');

$font: 'Inter', sans-serif;
$font-title: 'Lato', sans-serif;
